// grey
$color-grey: #777;

// white
$color-white: #fff;
$color-white-2: #f4f4f4;

//zinc
$color-zinc:#BAC4C8;

// black
$color-black: #000;


// techtitan palette
$color-properlify-primary:#011930;
$color-properlify-secondary: #02203C;
$color-properlify-tertiary:#1F384E;
$color-properlify-background:#171719;

