body{
    margin: 0;  
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s linear;
    color: $color-properlify-primary;
    min-height: 100dvh; 
    background-color: $color-properlify-background;
    color: $color-white;
}

html{
    overflow-x: hidden;
}

*{
    box-sizing: border-box;  

}

input{
    color: rgba($color-white,1);
}


a{
    text-decoration: none;
    color:$color-white;
}
.flex-wrapper{
    display: flex;
    flex-wrap: wrap;    
    gap: 1rem;
    padding: .5rem;
}

button{
    cursor: pointer;
}

.btn{
    border: none;
    transition: .2s linear;
    border-radius: 10px;
    &:hover{
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(3px);
    }
    @include respond(phone){
        border-radius: 5px;
    }
}

.btn-primary{
    color: $color-white;
    
}

.btn-success{
    color: $color-white;
    
}

.btn-secondary{
    
}

.hr-primary{
    margin: 1rem auto;
    width: 3rem;
    border: none;
    border-bottom: .5rem dotted rgba(grey,.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.button{
    width:8rem;
    height: 3rem;
    color: $color-white;
    background-color: $color-properlify-background;
    border: none;
    border: 1px solid rgba($color-white,.5);
    font-size: 1rem;
    border-radius: 5px;
}

.link{
    color: $color-properlify-tertiary;
    transition: all .5s;
    &:hover{
        text-decoration: underline;
    }
    
}

.explore{
    height: 3rem;
    width: 10rem;
    color: rgba($color-white,1);
    padding: 1rem 2rem;
    border: 1px solid rgba($color-white,.5);
    background-color: transparent;
    margin:  1rem .5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
    transition: all .2s;
    &:hover{
        background-color: rgba($color-white,1);
        color: $color-black;
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(3px);
    }
}


.map{
}

