body{
    margin: 0;  
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s linear;
    color: $color-properlify-primary;
    min-height: 100dvh; 
    background-color: $color-properlify-background;
    color: $color-white;
}

html{
    overflow-x: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}

*{
    box-sizing: border-box;  

}

input{
    color: rgba($color-white,1);
}


a{
    text-decoration: none;
    color:$color-white;
}
.flex-wrapper{
    display: flex;
    flex-wrap: wrap;    
    gap: 1rem;
    padding: .5rem;
}

button{
    cursor: pointer;
}

.btn{
    border: none;
    transition: .2s linear;
    border-radius: 10px;
    &:hover{
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(3px);
    }
    @include respond(phone){
        border-radius: 5px;
    }
}

.btn-primary{
    color: $color-white;
    
}

.btn-success{
    color: $color-white;
    
}

.btn-secondary{
    
}

.hr-primary{
    margin: 1rem auto;
    width: 3rem;
    border: none;
    border-bottom: .5rem dotted rgba(grey,.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.button{
    width:8rem;
    height: 3rem;
    color: $color-white;
    background-color: $color-properlify-background;
    border: none;
    border: 1px solid rgba($color-white,.5);
    font-size: 1rem;
    border-radius: 5px;
}

.link{
    color: $color-properlify-tertiary;
    transition: all .5s;
    &:hover{
        text-decoration: underline;
    }
    
}

.explore{
    height: 3rem;
    width: 10rem;
    color: rgba($color-white,1);
    padding: 1rem 2rem;
    border: 1px solid rgba($color-white,.5);
    background-color: transparent;
    margin:  1rem .5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
    transition: all .2s;
    &:hover{
        background-color: rgba($color-white,1);
        color: $color-black;
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(3px);
    }
}


.map{
}


.problem{
    width: 50%;
    margin: auto;
    & h1{
        font-size: 3rem;
    }
    & p{
        line-height: 1.5;
        text-align: justify;
    }
}


.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Adjust the number of columns as needed
    gap: 20px; // Adjust the gap between grid items as needed
    margin:  0 20rem;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .team-member img {
    width: 200px; // Adjust the image size as needed
    height: 200px; // Adjust the image size as needed
    border-radius: 50%; // Make the image round
    object-fit: cover;
  }
  
  .team-member-name {
    margin-top: 10px; // Adjust the spacing between the image and the name as needed
  }
  

  /* Footer container */
.footer {
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid rgba($color-white,.1);
    margin-top: 10rem;
  }
  
  /* Footer content */
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Footer column */
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  /* Footer column heading */
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  /* Footer column paragraphs */
  .footer-column p {
    margin-bottom: 10px;
  }
  
  /* Social icons */
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Footer bottom */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  